<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="AzureDevOpsFeed" value="https://pkgs.dev.azure.com/<YOUR_ORG>/_packaging/<YOUR_FEED>/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <AzureDevOpsFeed>
      <add key="Username" value="AzureDevOps" />
      <add key="ClearTextPassword" value="<YOUR_PERSONAL_ACCESS_TOKEN>" />
    </AzureDevOpsFeed>
  </packageSourceCredentials>
</configuration>
